Repository bitreport-org/Bitreport: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Test core, Test dashboard, Do nothing xD

Test core:
  stage: test
  services:
  - postgres:10.4-alpine
  - influxdb:1.5.2-alpine
  image: registry.gitlab.com/bitreport/bitreport/python3.7-core
  variables:
    INFLUX_HOST: influxdb
    POSTGRES_HOST: postgres
  script:
  - python3 -m venv venv
  - . venv/bin/activate
  - pip install --upgrade pip
  ...

Test dashboard:
  stage: test
  services:
  - postgres:10.4-alpine
  image: registry.gitlab.com/bitreport/bitreport/ruby2.6-dashboard
  variables:
    RAILS_ENV: test
    POSTGRES_DB: dashboard_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: ''
  script:
  - cd dashboard
  - bundle install --path vendor/bundle
  ...

Do nothing xD:
  stage: test
  image: alpine:3.7
  variables:
    GIT_STRATEGY: none
  script:
  - echo "(っ◕‿◕)っ"

feat: New Core TA
  .coverage
  .gitignore
Due: Do nothing xD

fix: Core admin
  core/app/api/admin.py
  docker-compose.production.yml
Due: Test core

feat: Improve task error handling
  core/app/api/app_factory.py
  core/app/exchanges/base.py
  core/app/exchanges/bittrex.py
  core/app/models/influx.py
  core/app/queue/tasks.py
  core/app/vendors/influx.py
  core/pylintrc
Due: Test core

fix: Unbound variable not found
  core/app/queue/tasks.py
Due: Test core

chore: Setup monitoring services
  dashboard/lib/plotter.rb
  docker-compose.production.yml
  docker-compose.yml
  images/config/telegraf.conf
  web/nginx.conf
Due: Test dashboard

fix(monitoring): Pass chronograf through nginx
  .gitlab-ci.yml
  docker-compose.production.yml
  web/nginx.conf
Due: Do nothing xD

fix(monitoring): Use valid gitlab api url fro oauth
  docker-compose.production.yml
Due: Do nothing xD

chore: Lower influx memory limit
  docker-compose.production.yml
Due: Do nothing xD

chore(metrics): Update telegraf agent hostname
  images/config/telegraf.conf
Due: Do nothing xD

chore(monitoring): Store hostname in metrics
  images/config/telegraf.conf
Due: Do nothing xD

chore: Switch influx to disk-based index
  docker-compose.production.yml
Due: Do nothing xD

chore: Assign hostname to influx container
  docker-compose.production.yml
Due: Do nothing xD

Update README.md
  README.md
Due: Do nothing xD

Create LICENSE
  LICENSE
Due: Do nothing xD

Path conditions:
  Test core: any of: core/**/*
  Test dashboard: any of: dashboard/**/*
  Do nothing xD: not (any of: dashboard/**/*, core/**/*)
